<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jeff Wyma</title>
    
    <link href="https://fonts.googleapis.com/css?family=Montaga|Palanquin|Titillium+Web" rel="stylesheet">
    
    <link href="../styles.css" type="text/css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="shortcut icon" href="" type="image/x-icon" />

</head> 
<body id='background'>
  <header>
    <h1>Jeff Wyma Photography</h1>
    <nav>
		  <a href="portfolio.html" class="portfolio">Portfolio</a>
<!--            <div class="dropdown">
             <a href="#">Cars</a>
             <a href="#">Weddings</a> 
             <a href="#">Nature</a>
           </div> -->
		<a href="clients.html">Clients</a>
        <a href="about.html">About</a>
		<a href="#" id="showModal">Contact</a>
	</nav>
   </header>

<img src="../photos/winterlaketahoe.jpg" id="img1">
<img src="../photos/fastm3.jpg" id="img2">
<img src="../photos/mtdiablo.jpg" id="img3">
    
<div class="modal-background">
    <div class="modal-content">
    <form>
      <h3>Contact Me</h3>  
       <label for="name">Name</label>
      <input type="text" placeholder="Name">
      <label for="email">Email Address</label>
      <input type="email" placeholder="Email Address">
      <textarea name="comment">Speak At Me!</textarea>
    </form>

      <button id="close">Close</button>
    </div>
  </div>

    <footer>
        <hr>
        <p>Stay in touch!</p>
        <a href="https://500px.com/jeffwyma" target="_blank"><i class="fa fa-500px" aria-hidden="true"></i></a>
        <a href="https://www.flickr.com/photos/jeffrsx231/" target="_blank"><i class="fa fa-flickr" aria-hidden="true"></i></a>    
        <a href="https://www.instagram.com/jeffw231" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </footer>

        <script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
    <script src="../javascript/main.js"></script>

</body>
</html>